<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="autotests">
        <classes>
            <class name="Registration.FieldsValidationCheck"/>
            <class name="Authorise.IsUserAdmin/>
            <class name="Registration.RegisterUserToTheSystem"/>
            <class name="NotApprovedUser.NotApprovedUserJoinsCompany"/>
        </classes>
    </test> <!-- autotests -->
</suite> <!-- Default Suite -->
