<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Default Suite" verbose="2" parallel="classes" thread-count="4">
    <test name="Autotests">
        <classes>
            <!-- Registration module -->
            <class name="Registration.FieldsValidationCheck"/>
            <class name="Registration.RegisterUserToTheSystem"/>

            <!-- Company joining flow -->
            <class name="NotApprovedUser.NotApprovedUserJoinsCompany"/>
        </classes>
    </test> <!-- Autotests -->
</suite> <!-- Default Suite -->

